/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nosifer&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: #dfdfdf;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  h2 {
    margin-top: 2rem;
  }

  h3 {
    margin-top: 2rem;
  }

  h4 {
    margin-top: 2rem;
  }

  a.link-github {
    font-size: 1rem;
  }

  p {
    font-size: 1.25rem;
  }

  a {
    font-size: 1.25rem;
  }

  span {
    font-size: 1.25rem;
  }

  #contribute li {
    font-size: 1.25rem;
  }
}
p, li {
  font-family: "Fredoka";
}

h1, h2, h3, h4 {
  font-family: "Nosifer";
}

body {
  background-color: #39bc5e;
}

h1, h2 {
  grid-column: 1/3;
}

li {
  list-style-type: none;
  margin: 10px;
}

aside {
  margin: 1rem auto;
  text-align: center;
}

@media (min-width: 900px) {
  .container {
    margin: 2rem auto;
    width: 70%;
  }
}
h1 {
  text-align: center;
  margin-top: 15px;
}
h1::before {
  background-image: url("images/spider.png");
  content: "";
  background-size: cover;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
  right: 20px;
}
h1::after {
  background-image: url("images/boo-ghost.png");
  display: flex;
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  right: 3%;
  top: 32%;
  align-items: center;
  position: absolute;
}

header .link-github {
  grid-column: 1/3;
  border: 2px solid black;
  padding: 6px;
  display: flex;
  margin: 0.5rem auto;
  border-radius: 10px;
  width: 138px;
  color: white;
  background-color: #5a388a;
}
header p {
  grid-column: 1/3;
  width: 40%;
  margin: 1rem auto;
  text-align: center;
}
header a {
  grid-column: 1/3;
}
header h2 {
  margin: auto;
  width: 75%;
  text-align: center;
}
header div.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  h1::after {
    display: none;
  }
}
@media (min-width: 900px) {
  header h2 {
    width: 50%;
  }

  h1::after {
    height: 150px;
    width: 150px;
    top: 21%;
    right: 14%;
  }
}
nav {
  background-color: #035703;
  padding: 1rem 0;
}
nav ul {
  width: 90%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul li a {
  transition: font-size 0.2s ease;
}
nav ul li a:hover {
  font-size: 22px;
}

#about {
  width: 85%;
  margin: auto;
}
#about p {
  margin: auto;
  hyphens: auto;
}
#about .container:first-of-type h2 {
  margin: 1.5rem auto 1rem;
  text-align: center;
}
#about .container:first-of-type p:first-of-type {
  margin-left: auto;
}
#about .container:first-of-type blockquote p:first-of-type {
  margin: auto;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 8px 0;
  background-color: #39bc5e;
}
#about .container:nth-of-type(2) h2 {
  margin-top: 1.5rem;
}
#about .container:nth-of-type(2) ul {
  position: relative;
  max-width: 500px;
  min-width: 330px;
  min-height: 330px;
  margin: auto;
  padding-top: 20px;
  padding-left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .container:nth-of-type(2) ul::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-width: 400px;
  max-width: 550px;
  height: 100%;
  background-image: url("images/jack-o-lantern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}
#about .container:nth-of-type(2) li {
  margin: 0.5rem 1rem;
  box-sizing: border-box;
  z-index: 2;
  border: 2px solid black;
  padding: 0.25rem;
}
#about .container:nth-of-type(2) p:nth-of-type(3) {
  margin: 1.25rem auto;
}
#about .container:nth-of-type(2) p:nth-of-type(4) {
  margin: 1.25rem auto;
}
#about .container p {
  margin: 1.5rem auto 0;
}

@media (min-width: 900px) {
  #about .container p {
    margin: 1.5rem auto;
  }
  #about .container:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #about .container:first-of-type p:first-of-type {
    padding-right: 1rem;
  }
  #about .container:first-of-type p:nth-of-type(2) {
    border-left: 2px solid black;
    padding-left: 1rem;
  }
  #about .container:first-of-type p:last-of-type {
    grid-column: 1/3;
  }
  #about .container:first-of-type blockquote {
    grid-column: 1/3;
  }
  #about h2 {
    margin-top: 10rem;
  }
}
#guidelines {
  width: 85%;
  margin: auto;
}

#contribute {
  width: 85%;
  margin: auto auto 2rem;
}
#contribute li {
  list-style-type: decimal;
}
#contribute h2 {
  margin-top: 1.5rem;
}

@media (min-width: 900px) {
  #contribute li {
    font-size: 1.25rem;
  }
}
#files .container {
  width: 85%;
  display: block;
  margin: auto;
  color: black;
  text-align: center;
}
#files h3 {
  margin-bottom: 12px;
}
#files a {
  color: black;
  margin: 10px;
}

#styles ul {
  width: 50%;
  min-width: 280px;
  max-width: 380px;
  margin: auto;
  padding-left: 0;
}
#styles ul li {
  border: 2px solid black;
  background-color: #035703;
  padding: 2rem;
  color: white;
  margin: 10px 0;
}
#styles ul a {
  color: white;
}

@media (min-width: 900px) {
  #styles ul {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  #styles ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-wrap: wrap;
    height: 125px;
    margin: 20px 0;
  }
  #styles ul.features {
    width: 100%;
    min-width: 280px;
    max-width: none;
    justify-content: center;
  }
}
.profile ul {
  padding: 0.5rem 0;
  margin: 1rem auto;
  width: 50%;
  min-width: 280px;
  max-width: 380px;
  text-align: center;
  background-color: #5a388a;
  color: white;
  border: 2px solid black;
}
.profile ul a {
  color: white;
}

@media (min-width: 900px) {
  .profile ul {
    padding: 1rem 0;
    min-width: 400px;
    max-width: 450px;
    width: 100%;
  }
}
footer {
  background-color: #5a388a;
  margin-top: 2rem;
  color: white;
  border-top: 2px solid black;
}
footer a {
  color: white;
}
footer li {
  list-style-type: circle;
}
footer ul {
  margin: 2rem auto;
  border-right: 2px solid white;
  padding-right: 0.5rem;
  grid-column: 1/2;
  grid-row: 1/6;
}
footer ul::before {
  display: block;
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/ghost.png");
  width: 150px;
  height: 150px;
  margin: auto;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
}
footer p {
  grid-column: 2/3;
  width: 80%;
  margin: auto;
}
footer p:first-of-type {
  grid-row: 2/3;
}
footer p:nth-of-type(2) {
  grid-row: 3/4;
}
footer p:nth-of-type(3) {
  grid-row: 4/5;
}

footer#files {
  background-color: #39bc5e;
  border-top: none;
}

@media (min-width: 900px) {
  footer ul::before {
    left: 2%;
    grid-column: 1/2;
    grid-row: 1/5;
    margin: auto;
    padding-right: 5rem;
  }
  footer ul li {
    grid-column: 2/3;
    margin-right: 2rem;
  }
  footer a.link-github {
    font-size: 1.25rem;
  }
  footer div.container {
    grid-template-columns: 1fr 1.5fr;
  }

  footer.page-footer ul {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    padding: 0;
  }

  div.container:last-of-type {
    margin: auto;
    width: 100%;
  }
}
.skip-link {
  border: 2px solid black;
  padding: 10px;
  background-color: #5a388a;
  color: white;
}

.link-github svg path {
  fill: white;
}

svg {
  height: 20px;
  margin: auto;
  margin-top: 2px;
  padding-right: 4px;
}
