#about {
	width: 85%;
	margin: auto;
	p {
		hyphens: auto;
		margin: auto;
	}
	.container {
		&:first-of-type {
			h2 {
				margin: 1.5rem auto 1rem;
				text-align: center;
			}
			p {
				&:first-of-type {
					margin-left: auto;
				}
			}
			blockquote {
				p {
					&:first-of-type {
						margin: auto;
						width: 100%;
						border-top: 2px solid black;
						border-bottom: 2px solid black;
						padding: 8px 0;
						background-color: $background-color;
					}
				}
			}
		}
		&:nth-of-type(2) {
			h2 {
				margin-top: 1.5rem;
			}
			ul {
				position: relative;
				max-width: 500px;
				min-width: 330px;
				min-height: 330px;
				margin: auto;
				padding-top: 20px;
				padding-left: 0;
				z-index: 1;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100vw;
					min-width: 400px;
					max-width: 550px;
					height: 100%;
					background-image: url('images/jack-o-lantern.png');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					opacity: 0.2;
					z-index: -1;
				}
			}
			li {
				margin: 0.5rem 1rem;
				box-sizing: border-box;
				z-index: 2;
				border: 2px solid black;
				padding: 0.25rem;
				// font-weight: bold;
			}
			p {
				&:nth-of-type(3) {
					margin: 1.25rem auto;
				}
				&:nth-of-type(4) {
					margin: 1.25rem auto;
				}
			}
		}
		p {
			margin: 1.5rem auto 0;
		}
	}
}
@media (min-width: $large-screen-size) {
	#about {
		.container {
			p {
				margin: 1.5rem auto;
			}
		}
		h2 {
			margin-top: 10rem;
		}
	}
}