#contribute {
	width: 85%;
	margin: auto auto 2rem;
	li {
		list-style-type: decimal;
	}
	h2 {
		margin-top: 1.5rem;
	}
}
@media (min-width: $large-screen-size) {
	#contribute {
		li {
			font-size: 1.25rem;
		}
	}
}
