footer {
   background-color: var(--color-background);
   margin-top: 2rem;
   color: white;
}

#styles ul{
   width: 50%;
   min-width: 280px;
   max-width: 380px;
   margin: auto;
   padding-left: 0;
}

#styles li {
   background-color: var(--color-background);
   padding: 2rem;
   color: white;
   margin: 10px 0;
}

footer a {
   color: white;
}

a {
   color: black;
   text-decoration: underline;
}

a:hover {
   color: rgb(72, 72, 72);
}

footer li {
   list-style-type: circle;
}

footer ul {
   margin: 2rem auto;
   border-right: 2px solid white;
   padding-right: 2.5rem;
}

footer ul::before {
   display: block;
   content: '';
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url('ghost.png');
   width: 150px;
   height: 150px;
   margin: auto;
}

footer#files {
   background-color: var(--background-color);
}