#styles ul{
   width: 40%;
   margin: auto;
   padding-left: 0;
}

#styles li {
   background-color: var(--color-background);
   padding: 2rem;
   color: white;
}

a {
   color: black;
   text-decoration: underline;
}

a:hover {
   color: rgb(72, 72, 72);
}