li {
   list-style-type: none;
   margin: 10px;
}

nav ul {
   width: 90%;
   margin: auto;
   padding: 0;
}

nav ul a {
   color: white;
   text-decoration: none;
}

nav {
   background-color: rgb(3, 87, 3);
   padding: 1rem 0;
}