nav {
	background-color: $accent-color-2;
	padding: 1rem 0;
	ul {
		width: 90%;
		margin: auto;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		a {
			color: $secondary-font-color;
			text-decoration: none;
		}
		li {
			a {
				transition: font-size 0.2s ease;
				&:hover {
					font-size: 22px;
				}
			}
		}
	}
}