aside {
   margin: auto;
   text-align: center;
   // justify-content: center;
}

.profile ul {
   // justify-content: center;
   padding: 0.5rem 0;
   margin: auto;
   width: 40%;
   text-align: center;
   background-color: var(--color-background);
}
