aside {
   margin: 1rem auto;
   text-align: center;
}

.profile ul {
   padding: 0.5rem 0;
   margin: 1rem auto;
   width: 50%;
   min-width: 280px;
   max-width: 380px;
   text-align: center;
   background-color: var(--color-background);
   color: white;
}

#styles ul a {
   color: white;
}

.profile ul a {
   color: white;
}