aside {
   margin: 1rem auto;
   text-align: center;
}

.profile ul {
   padding: 0.5rem 0;
   margin: 1rem auto;
   width: 50%;
   min-width: 280px;
   max-width: 380px;
   text-align: center;
   background-color: var(--color-background);
   color: white;
}

#styles ul a {
   color: white;
}

.profile ul a {
   color: white;
}

@media (min-width: 900px) {
   .profile ul {
      padding: 1rem 0;
      min-width: 400px;
      max-width: 450px;
      width: 100%;
   }

   #styles ul {
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      column-gap: 30px;
      // width: 100%;

   }

   #styles ul.features {
      width: 100%;
      min-width: 280px;
      max-width: none;
      justify-content: center;
   }

   #styles ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      text-wrap: wrap;
      height: 125px;
      margin: 20px 0;
   }

   div.container:last-of-type {
      margin: auto;
      width: 100%;
   }
}