$background-color: #39bc5e !default;
$accent-color-1: #5a388a !default;
$accent-color-2: rgb(3, 87, 3) !default;
$font-color: black !default;
$secondary-font-color: white !default;
$hover-font-color: rgb(223, 223, 223);
$large-font-size: 1.25rem !default;
$header-font: "Nosifer";
$body-font: "Fredoka";
$large-screen-size: 900px;



